header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
header .navbar{
    background-color: #239B56 !important;
}
header .navbar .navbar-brand {
    display: flex;
    align-items: center;
    row-gap: 16px;
}
header .navbar img {
    width: unset;
    height: 50px;
}
a.navlink{
    font-size: 13px;
}
a.nav-link, .nav-link-active{
    font-size: 20px;
    color: aliceblue;
  }
.navbar-brand img{
    width: 13vh;
    height: auto;
    margin-left: 5vh;
}
header .navbar span {
    font-weight: 600;}
/*Index*/
.QuienesSomosContainer {
    display: flex;
    flex-direction: column;
max-width: 1200px;
    margin: 80px auto 50px auto;
    padding: 0 8px;
}
.ImpoReci{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin:  90px auto 50px auto;
    padding: 0 8px;
}
.ImpoReci img{
    width: 100%;
    height: auto;
    border-radius: 5%;
    justify-content: center;
    margin: 80px auto 15px auto;
}
.MisionContainer.info-card{
    margin: 60px auto 70px auto;
}
.titlePage {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 28px;

}

.bannerContainer {
    width: 100%;
}

.bannerImage {
    width: 100%;
    height: 400px;
    object-fit: fill;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.info-card {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    column-gap: 32px;
}

.text-content-card {
    padding: 30px 20px;
}

.titleSubContent{
    margin-bottom: 16px;
}
.image-info-card{
    border-radius: 40px 0 0 40px;
}
.ImpoReci{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.ImpoReci p{
    margin-bottom: 0;
}
/*NUESTRA PROPUESTA*/
.NuestraPropuesta{
    margin: 0 auto 54px auto;
    padding: 54px 16px 0;
    text-align: center;
}
.info-card{
    margin-bottom: 32px;
}
.image-info-card{
    width: 300px;
    height: 100%;
    object-fit: cover;
}
/*Reciclado*/

.tipos-imagenes{
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 1rem;
    margin: 0 auto;
}

.imagen-tipo{
    width: 300px;
    height: 250px;
    border-radius: 18px;
    margin: 0 16px;
    cursor: pointer;
}
.selectedTipo{
    border: 1px solid red;
}
/*Contactos*/
.Contacto{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 15px 40px 40px 40px;
}
h2.Contacto{
   font-size: 20px;
}
p.Contacto{
  font-size: 16px;
  justify-content: center;
  text-align: justify;
  margin: 10px 30px 10px 30px;
}
.ImgCon{
    align-items: flex-end;
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.ImgCon p{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.ImgCon img{
    width: 8vh;
    width: auto;
}
.form {
    max-inline-size: 550px;
    margin-top: 15px;
    margin: auto;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin-block-end: 5em;
  }
  
  #trucazo {
    opacity: 0;
  }
  .btn {
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
  }
  .btn.full {
    width: 100%;
  }
  
  .btn.primary {
    background: var(--primary);
  }
  
  .btn.secondary {
  }
  
  .btn.secondary img{
    position: relative;
    bottom: 1px;
  }
/*Responsive*/
@media (max-width: 1000px){
    div.offcanvas{
        background-color: #239B56;
        
    }
    a.nav-link, .nav-link-active{
        font-size: 20px;
        color: aliceblue;
      }
      header .navbar img{
        margin-left: 16px;
      }
      .info-card,
      .MisionContainer {
        max-width: calc(100vw - 32px);
        margin: 60px 16px 70px;
      }
/*Contactos*/
.ImgCon{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ImgCon img{
    margin-bottom: 15px;
   
}
.ImgCon p{
    font-size: 13px;
}
}
@media (max-width: 700px){
    .info-card{
        flex-direction: column;
            }
     .image-info-card{
                border-radius: 40px 40px 0 0;
                width: 100%;
            }
}
@media (max-width: 480px){
    div.offcanvas{
        background-color: #239B56;
    }
  a.nav-link, .nav-link-active{
    font-size: 20px;
    color: aliceblue;
  }
    /*Index*/
    .QuienesSomosContainer, .ImpoReci{
        margin: 15px 10px 15px 10px;
        font-size: 14px;
        text-align: justify;
    }
   .MisionContainer p{
    font-size: 14px;
   }
    
.ImpoReci img{
    width: 100%;
    height: auto;
}
  /*Propuesta*/
  .NuestraPropuesta{
    margin: 7px 10px 35px 10px;
    text-align: justify;
  }
  .NuestraPropuesta, .RecEdu, .SepResiduos, .ReutiMat, .RedPlas p{
    font-size: 14px;
  }
  .NuestraPropuesta, .RecEdu, .SepResiduos, .ReutiMat, .RedPlas h2{
font-size: 15px;
  }
  .RecEdu, .SepResiduos, .ReutiMat, .RedPlas{
    flex-direction: column ;
    margin: 15px 10px 20px 10px;
  }
}